* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pseudo {
  content: "";
  display: block;
  position: absolute;
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.woff?a2qhcp') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
body {
  font-size: 18px;
  line-height: 21px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #544a49;
}
.icon-home {
  content: "\e909";
}
.icon-play {
  content: "\e900";
}
.icon-fb {
  content: "\e904";
}
.icon-insta {
  content: "\e905";
}
.icon-yt {
  content: "\e906";
}
h2 {
  font-family: "Rochester";
  font-size: 64px;
  line-height: 83px;
  color: #544a49;
  text-align: center;
  font-weight: 400;
}
h3 {
  height: 44px;
  width: 347px;
  color: #544A49;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 38px;
}
.header {
  height: 70px;
  width: 1920px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
}
.wrapper {
  width: auto;
  margin: 0 80px;
}
.logo {
  background: url(img/Logo.jpg) no-repeat;
  background-size: contain;
  position: absolute;
  left: 80px;
  height: 289px;
  width: 220px;
}
.nav {
  font-size: 18px;
  line-height: 21px;
  color: #544a49;
  font-family: "Roboto Condensed";
  list-style: none;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: -0.27px;
}
.nav a {
  position: relative;
  text-decoration: none;
  margin: 0 20px;
  color: #544a49;
  padding: 6px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-intro {
  height: 1100px;
  width: 1920px;
  background-image: url(img/babybg.jpg);
  text-align: center;
}
.title-container {
  position: absolute;
  top: 219px;
  left: 607px;
  right: 607px;
  bottom: 753px;
  width: 706px;
  height: 128px;
}
.title-container h2 {
  font-family: 'Rochester', sans-serif;
  font-size: 64px;
  line-height: 64px;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  font-weight: normal;
}
.video {
  position: absolute;
  top: 414px;
  left: 863px;
  width: 160px;
  height: 160px;
}
.intro-link {
  text-decoration: none;
  color: #fff;
  height: 28px;
  width: 229px;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-weight: bold;
  line-height: 28;
  text-align: right;
  text-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}
.about {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 68px 0 95px;
  background: url(img/eiffel.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.wrapper-about {
  display: flex;
  width: 1320px;
  margin: auto;
}
.info {
  width: 660px;
}
.info p {
  color: #544A49;
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.3px;
  line-height: 28px;
}
.info h2 {
  text-align: left;
  padding-top: 30px;
}
.story-intro {
  height: 24px;
  width: 629px;
  color: #847876;
  font-family: "Roboto Condensed";
  font-size: 20px;
  letter-spacing: -0.3px;
  line-height: 24px;
}
.sophie-img {
  height: 850px;
  width: auto;
  padding-left: 130px;
}
.senses-bg {
  width: 1920px;
  height: 1762px;
  background-image: url(img/sensesBG.jpg);
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  padding-top: 73px;
}
.subheadline-light {
  padding-top: 5px;
  color: #847876;
  font-family: "Roboto Condensed";
  font-size: 22px;
  font-weight: 300;
  letter-spacing: -0.3px;
  line-height: 25px;
  text-align: center;
  padding-bottom: 40px;
}
.item-detail {
  width: 260px;
  margin-top: 50px;
  font-weight: 300;
}
.baby {
  height: auto;
  width: 727px;
  padding: 25px 60px;
}
.item-detail {
  width: 1200px;
  margin: auto;
  position: relative;
}
.item-detail p {
  padding-top: 10px;
}
.item-detail-box {
  position: absolute;
  width: 200px;
  top: 0;
  left: 0;
}
.item-detail-1 {
  top: 110px;
  left: 60px;
  text-align: right;
}
.item-detail-2 {
  top: 320px;
  left: 60px;
  text-align: right;
}
.item-detail-3 {
  top: 550px;
  left: 60px;
  text-align: right;
}
.item-detail-4 {
  top: 91px;
  right: 101px;
  left: auto;
}
.natural {
  width: 164px;
  height: 161px;
}
.item-detail-5 {
  top: 340px;
  right: 35px;
  left: auto;
  text-align: left;
}
.item-detail-6 {
  top: 620px;
  right: 35px;
  left: auto;
  text-align: left;
}
.item-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0px 0;
  font-weight: 300;
  max-width: 1000px;
  margin: auto;
}
.item-info-box {
  width: 50%;
  text-align: left;
  padding-right: 50px;
  padding-bottom: 5px;
}
.slider-section {
  text-align: center;
  padding-top: 60px;
  height: auto;
}
.row {
  display: flex;
}
.col1 {
  background: #CAD200;
  width: 390px;
  height: 388px;
  padding: 60px 0;
  position: relative;
}
.collection-logo {
  width: 222px;
  height: 100px;
  margin: auto;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  min-width: 212px;
  height: 57px;
  font: 18px/21px "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  border: 3px solid #FFF;
  position: absolute;
  bottom: 60px;
  left: 25%;
}
.row2 .col1 {
  background: #BEA590;
}
.row3 .col1 {
  background: #B50156;
}
.row4 .col1 {
  background: #D61B26;
  height: 200px;
  width: 390px;
}
.row4 .col2 {
  height: 200px;
  width: 1533px;
  color: #D61B26;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -85px;
  left: 30%;
}
.uskoro {
  height: 54px;
  width: 248px;
  font-family: "Rochester";
  font-size: 42px;
  line-height: 54px;
  text-align: center;
}
.slide-img {
  margin: auto;
  padding: 0px 40px 7px;
}
.slider {
  position: relative;
}
.product {
  border: 1px solid #ccc;
}
.product-overlay {
  display: none;
}
.product:hover .product-overlay {
  display: block;
}
.toggle-icon {
  position: relative;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 9px;
}
.toggle-icon:before,
.toggle-icon:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #847876;
}
.toggle-icon:after {
  transform: rotate(90deg);
}
.faq-item {
  margin-bottom: 20px;
}
.faq-item.active .faq-item-content {
  display: block;
}
.faq-item.active .toggle-icon:after {
  display: none;
}
.faq-item-title {
  position: relative;
  padding-left: 30px;
  padding-bottom: 5px;
}
.faq-item-content {
  display: none;
}
.faq {
  width: 100%;
  min-height: 800px;
  display: flex;
}
.faq-content {
  padding: 84px 82px;
  background-color: #F9F8FA;
  width: 50%;
}
.faq-content h2 {
  text-align: left;
  padding-bottom: 20px;
}
.faq-content h3 {
  font-size: 24px;
  line-height: 28px;
  color: #544A49;
  font-family: "Roboto Condensed";
  width: 1033px;
}
.location {
  background-image: url(img/world.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  min-height: 860px;
  padding: 92px 0 10px;
  padding-left: 80px;
}
.location-wrapper {
  width: auto;
  height: auto;
  text-align: left;
  position: absolute;
}
.location h2 {
  text-align: left;
}
.locations {
  display: flex;
  padding-top: 160px;
  width: 1200px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.location-cnt {
  list-style: none;
  padding-right: 20px;
  padding-bottom: 50px;
}
.footer {
  height: 180px;
  width: 100%;
  background-color: #544a49;
  background-image: url(img/footerbg.jpg);
  background-repeat: no-repeat;
}
.footer-wrapper {
  width: auto;
  margin: 0 80px;
  position: relative;
}
.footer-logo {
  background-image: url(img/footerlogo.png);
  background-repeat: no-repeat;
  z-index: 100;
  display: inline-block;
  width: 189px;
  height: 61px;
  position: relative;
  top: 60px;
}
.contact {
  color: #fff;
  display: inline-block;
  position: relative;
  left: 25%;
  font-size: 16px;
  line-height: 21px;
}
.contact a {
  text-decoration: none;
  color: #fff;
}
.social-networks a {
  width: 60px;
  height: 60px;
  position: relative;
  left: 43%;
  background: rgba(84, 74, 73, 0.9);
  margin: 0 0.5px;
  display: inline-block;
  top: -60px;
  text-align: center;
}
.social-networks .facebook:before {
  content: "";
  display: block;
  position: absolute;
  content: "\e904";
  font: 25px/59px "icomoon";
  left: 23px;
  color: #fff;
}
.social-networks .instagram:before {
  content: "";
  display: block;
  position: absolute;
  content: "\e905";
  font: 25px/59px "icomoon";
  left: 18px;
  color: #fff;
}
.social-networks .youtube:before {
  content: "";
  display: block;
  position: absolute;
  content: "\e906";
  font: 25px/59px "icomoon";
  left: 18px;
  color: #fff;
}
.copyright {
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  position: relative;
  right: 50px;
  bottom: 112px;
  text-decoration: none;
}
.copyright a {
  text-decoration: none;
  color: #fff;
}
